//settings
@import "settings/vars";
@import "settings/fonts";
@import "settings/reset";
@import "settings/libs";
@import "settings/global";

//common blocks
@import "../blocks/header/header";
@import "../blocks/footer/footer";
@import "../blocks/sidebar/sidebar";

//main page blocks
@import "../blocks/mainPage/promo/promo";
@import "../blocks/mainPage/services/services";
@import "../blocks/mainPage/fleet/fleet";
@import "../blocks/mainPage/rental/rental";
@import "../blocks/mainPage/about/about";
@import "../blocks/mainPage/advantages/advantages";
@import "../blocks/mainPage/reviews/reviews";
@import "../blocks/mainPage/partner/partner";
@import "../blocks/fleetPage/filter/filter";
