//settings
@import "settings/vars";
@import "settings/fonts";
@import "settings/reset";
@import "settings/libs";
@import "settings/global";

//common blocks
@import "../blocks/header/header";
@import "../blocks/footer/footer";

//main page blocks
@import "../blocks/mainPage/promo/promo";
@import "../blocks/mainPage/services/services";
@import "../blocks/mainPage/fleet/fleet";
@import "../blocks/mainPage/advantages/advantages";
@import "../blocks/fleetPage/filter/filter";
