@font-face {
  font-family: 'ArialRegular';
  src: url('/fonts/ArialRegular.woff') format('woff'), url('/fonts/ArialRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'VerdanaRegular';
  src: url('/fonts/VerdanaRegular.woff') format('woff'), url('/fonts/VerdanaRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'VerdanaBold';
  src: url('/fonts/VerdanaBold.woff') format('woff'), url('/fonts/VerdanaBold.woff2') format('woff2');
}