html,
body {
    //   overflow-x: hidden;
    height: 100%;
    color: #051B1F;
    font-family: 'VerdanaRegular';
    font-style: normal;
    font-weight: 400;
}

.box {
    height: 100vh;
    width: 100vw;
}

.hoverOpacity {
    transition: .3s;

    &:hover {
        opacity: .5;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    width: 85%;
    margin: 0 auto;
}