html,
body {
  //   overflow-x: hidden;
  height: 100%;
  color: #051b1f;
  font-family: "VerdanaRegular";
  font-style: normal;
  font-weight: 400;
}

.box {
  height: 100vh;
  width: 100vw;
}

.hoverOpacity {
  transition: 0.3s;

  &:hover {
    opacity: 0.5;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.section-title {
  text-transform: uppercase;
  @include adaptiv-font(35, 25);
  text-align: center;
  color: #ed5f00;
  font-family: "VerdanaBold";
}

.slider {
  .owl-stage {
    display: flex;
  }

  .owl-stage-outer {
    overflow-x: hidden;
  }

  .owl-nav {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    button {
      border: 1px solid #ed5f00;
      border-radius: 3px;
      width: 35px;
      height: 35px;
      transition: all 0.3s;

      &:first-child {
        margin-right: 10px;
      }

      &:hover {
        background-color: #ed5f00;
      }
    }
  }

  .owl-dots {
    display: none;
    justify-content: center;
    align-items: center;
    button {
      width: 8px;
      height: 8px;
      border: 1px solid #333333;
      border-radius: 50%;
      margin-top: 45px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    .active {
      width: 12px;
      height: 12px;
      background-color: #ed5f00;
      border: 1px solid transparent;
    }
  }
}

.btn {
  @include adaptiv-font(16, 12);
  background-color: #20b842;
  border: 1px solid transparent;
  color: #ffffff;
  border-radius: 5px;
  padding: 12.5px 20px 12.5px 20px;
  transition: all 0.3s;

  &:hover {
    background-color: transparent;
    color: #20b842;
    border: 1px solid #20b842;
  }
}

@media (max-width: 750px) {
  .slider {
    .owl-nav {
      display: none;
    }
    .owl-dots {
      display: flex;
    }
  }
}
