@font-face {
  font-family: "ArialRegular";
  src: url("/fonts/ArialRegular.woff") format("woff"), url("/fonts/ArialRegular.woff2") format("woff2");
}
@font-face {
  font-family: "VerdanaRegular";
  src: url("/fonts/VerdanaRegular.woff") format("woff"), url("/fonts/VerdanaRegular.woff2") format("woff2");
}
@font-face {
  font-family: "VerdanaBold";
  src: url("/fonts/VerdanaBold.woff") format("woff"), url("/fonts/VerdanaBold.woff2") format("woff2");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

li {
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  outline: none;
}

html,
body {
  height: 100%;
  color: #051B1F;
  font-family: "VerdanaRegular";
  font-style: normal;
  font-weight: 400;
}

.box {
  height: 100vh;
  width: 100vw;
}

.hoverOpacity {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.hoverOpacity:hover {
  opacity: 0.5;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.header {
  height: 85px;
  background-color: #FF5F00;
  margin-bottom: 50px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__item:not(:last-child) {
  margin-right: 25px;
}
.header__link {
  font-size: calc(
    14px + 4 *
      ((100vw - 320px) / 1600)
  );
  color: #333333;
}
.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 46px;
}
.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__search {
  margin-right: 25px;
}
.header__lang-btn {
  color: rgba(51, 51, 51, 0.3);
  font-size: calc(
    12px + 4 *
      ((100vw - 320px) / 1600)
  );
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__lang-btn--active {
  border-bottom: 1px solid #333333;
  color: #333333;
}
.header__lang-btn--active:hover {
  opacity: 0.5;
}
.header__lang-btn:not(:last-child) {
  margin-right: 11px;
}
.header__lang-btn:hover {
  color: #333333;
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contact-btn {
  font-size: calc(
    12px + 4 *
      ((100vw - 320px) / 1600)
  );
  background-color: #20B842;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 12.5px 20px 12.5px 60px;
  position: relative;
}
.header__contact-btn::before {
  position: absolute;
  content: url(/images/icons/phone.svg);
  left: 20px;
}
.header__phones {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__tel {
  font-size: calc(
    12px + 4 *
      ((100vw - 320px) / 1600)
  );
  font-family: "VerdanaBold";
  color: #333333;
}
.header__burger {
  display: none;
}

@media (max-width: 1700px) {
  .header .container {
    width: 95%;
  }
}
@media (max-width: 1450px) {
  .header__nav {
    display: none;
  }
  .header__contact {
    display: none;
  }
  .header__lang {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
.carpark_filter {
  background: #f5f5f5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 240px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 20px;
}
.carpark_filter-title {
  font-size: calc(
    16px + 4 *
      ((100vw - 320px) / 1600)
  );
  text-transform: uppercase;
  line-height: 17px;
  color: #333333;
  font-family: "VerdanaBold";
}
.carpark_filter .sect_name {
  font-family: "VerdanaBold";
  font-size: calc(
    14px + 4 *
      ((100vw - 320px) / 1600)
  );
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  padding-top: 20px;
  padding-bottom: 15px;
}
.carpark_filter .checkbox {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.carpark_filter .checkbox:not(:last-child) {
  padding-bottom: 10px;
}
.carpark_filter .checkbox .master {
  display: none;
}
.carpark_filter .checkbox .fake {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  top: 2px;
}
.carpark_filter .checkbox .fake::before {
  position: absolute;
  display: block;
  content: url("/images/icons/checkbox.svg");
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: -1px;
  left: -1px;
}
.carpark_filter .checkbox .master:checked + .fake::before {
  opacity: 1;
}
.carpark_filter .checkbox .master:checked + .fake::before .fake {
  display: none;
}
.carpark_filter .range {
  padding-bottom: 30px;
  max-width: 188px;
}
.carpark_filter .range-circle {
  position: relative;
  z-index: 7;
  width: 188px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 5px;
}
.carpark_filter .range-circle::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #ed5f00;
  -webkit-appearance: none;
          appearance: none;
}
.carpark_filter .range-line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 4px;
  margin-left: 9px;
  margin-top: -4px;
  margin-bottom: 5px;
  z-index: 0;
}
.carpark_filter .range-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 2px;
  margin-left: 6px;
}
.carpark_filter .range-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #666666;
}
.carpark_filter-button {
  border: 1px solid #20b842;
  background: #20b842;
  border-radius: 5px;
  padding: 20px 55px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.carpark_filter-button:hover {
  background: transparent;
  color: #20b842;
}