@charset "UTF-8";
@font-face {
  font-family: "ArialRegular";
  src: url("/fonts/ArialRegular.woff") format("woff"), url("/fonts/ArialRegular.woff2") format("woff2");
}
@font-face {
  font-family: "VerdanaRegular";
  src: url("/fonts/VerdanaRegular.woff") format("woff"), url("/fonts/VerdanaRegular.woff2") format("woff2");
}
@font-face {
  font-family: "VerdanaBold";
  src: url("/fonts/VerdanaBold.woff") format("woff"), url("/fonts/VerdanaBold.woff2") format("woff2");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

li {
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  outline: none;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  color: #051b1f;
  font-family: "VerdanaRegular";
  font-style: normal;
  font-weight: 400;
}

.box {
  height: 100vh;
  width: 100vw;
}

.hoverOpacity {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.hoverOpacity:hover {
  opacity: 0.5;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.section-title {
  text-transform: uppercase;
  font-size: calc(
    25px + 10 *
      ((100vw - 320px) / 1600)
  );
  text-align: center;
  color: #ed5f00;
  font-family: "VerdanaBold";
}

.slider .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider .owl-stage-outer {
  overflow-x: hidden;
}
.slider .owl-nav {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.slider .owl-nav button {
  border: 1px solid #ed5f00;
  border-radius: 3px;
  width: 35px;
  height: 35px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slider .owl-nav button:first-child {
  margin-right: 10px;
}
.slider .owl-nav button:hover {
  background-color: #ed5f00;
}
.slider .owl-dots {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider .owl-dots button {
  width: 8px;
  height: 8px;
  border: 1px solid #333333;
  border-radius: 50%;
  margin-top: 45px;
}
.slider .owl-dots button:not(:last-child) {
  margin-right: 10px;
}
.slider .owl-dots .active {
  width: 12px;
  height: 12px;
  background-color: #ed5f00;
  border: 1px solid transparent;
}

.btn {
  font-size: calc(
    12px + 4 *
      ((100vw - 320px) / 1600)
  );
  background-color: #20b842;
  border: 1px solid transparent;
  color: #ffffff;
  border-radius: 5px;
  padding: 12.5px 20px 12.5px 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #f5f5f5;
  color: #20b842;
  border: 1px solid #20b842;
}

@media (max-width: 750px) {
  .slider .owl-nav {
    display: none;
  }
  .slider .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header {
  height: 85px;
  background-color: #ff5f00;
  margin-bottom: calc(25px + 25 * ((100vw - 320px) / 1600));
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__item:not(:last-child) {
  margin-right: 25px;
}
.header__link {
  font-size: calc(
    14px + 4 *
      ((100vw - 320px) / 1600)
  );
  color: #333333;
}
.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 46px;
}
.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__search {
  margin-right: 25px;
}
.header__lang-btn {
  color: rgba(51, 51, 51, 0.3);
  font-size: calc(
    12px + 4 *
      ((100vw - 320px) / 1600)
  );
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__lang-btn--active {
  border-bottom: 1px solid #333333;
  color: #333333;
}
.header__lang-btn--active:hover {
  opacity: 0.5;
}
.header__lang-btn:not(:last-child) {
  margin-right: 11px;
}
.header__lang-btn:hover {
  color: #333333;
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contact-btn {
  padding: 12.5px 20px 12.5px 60px;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__contact-btn::before {
  position: absolute;
  content: url(/images/icons/phone.svg);
  left: 20px;
}
.header__contact-btn:hover::before {
  position: absolute;
  content: url(/images/icons/phone1.svg);
  content: url(/images/icons/phone.svg) none;
  left: 20px;
}
.header__phones {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__tel {
  font-size: calc(
    12px + 4 *
      ((100vw - 320px) / 1600)
  );
  font-family: "VerdanaBold";
  color: #333333;
}
.header__burger {
  display: none;
}

@media (max-width: 1700px) {
  .header .container {
    width: 95%;
  }
}
@media (max-width: 1450px) {
  .header__nav {
    display: none;
  }
  .header__contact {
    display: none;
  }
  .header__lang {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header__block {
    margin-right: 0;
  }
}
.footer {
  border-top: 6px solid #cf6a00;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: calc(
    24px + 16 *
      ((100vw - 320px) / 1600)
  );
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: calc(
    35px + 10 *
      ((100vw - 320px) / 1600)
  );
}
.footer__logo {
  width: 196px;
  height: 85px;
  background: #ed5f00;
  margin-right: calc(3px + 97 * ((100vw - 320px) / 1600));
}
.footer__rent {
  max-width: 1004px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__rent--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__rent--column:last-child {
  display: none;
  margin-right: calc(20px + 20 * ((100vw - 320px) / 1600));
}
.footer__rent--type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__rent--type:not(:last-child) {
  margin-right: calc(20px + 20 * ((100vw - 320px) / 1600));
}
.footer__rent--item {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer__rent--item:hover {
  opacity: 70%;
}
.footer__rent--item:not(:last-child) {
  padding-bottom: 10px;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  margin-left: calc(3px + 97 * ((100vw - 320px) / 1600));
}
.footer__adress {
  width: 210px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding-bottom: 20px;
}
.footer__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 15px;
}
.footer__tel {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer__tel:hover {
  opacity: 70%;
}
.footer__call {
  white-space: nowrap;
  max-width: 213px;
  padding: 12.5px 20px 12.5px 60px;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__call::before {
  position: absolute;
  content: url(/images/icons/phone.svg);
  left: 20px;
}
.footer__call:hover::before {
  position: absolute;
  content: url(/images/icons/phone1.svg);
  content: url(/images/icons/phone.svg) none;
  left: 20px;
}
.footer__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: calc(
    20px + 7 *
      ((100vw - 320px) / 1600)
  );
  padding-bottom: calc(
    25px + 5 *
      ((100vw - 320px) / 1600)
  );
}
.footer__text--item {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #cccccc;
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 510px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1300px) {
  .footer__icons {
    top: 50%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media (max-width: 1160px) {
  .footer__rent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__rent--column:first-child {
    padding-bottom: 20px;
  }
  .footer__rent--column:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__rent--type {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .footer__rent--type_two {
    display: none;
  }
  .footer__contact {
    margin-left: 0;
  }
}
@media (max-width: 965px) {
  .footer__info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .footer__rent--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0px;
  }
  .footer__rent--item:not(:last-child) {
    padding-bottom: 15px;
  }
  .footer__rent--item:last-child {
    padding-bottom: 30px;
  }
  .footer__contact {
    text-align: start;
    margin-left: 0;
  }
  .footer__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
  }
  .footer__icons {
    position: static;
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    margin-top: 20px;
    width: 100%;
  }
}
.sidebar {
  z-index: 12;
  padding: 117px 16px 94px 16px;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 320px;
  background-color: #fff;
  position: absolute;
  height: 100%;
}
.sidebar__close {
  position: absolute;
  right: 16px;
  top: 16px;
}
.sidebar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #cccccc;
}
.sidebar__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
.sidebar__text:not(:last-child) {
  padding-bottom: 25px;
}
.sidebar__text :last-child {
  padding-bottom: 40px;
}
.sidebar__lang {
  padding-bottom: 30px;
}
.sidebar__lang-btn {
  color: rgba(51, 51, 51, 0.3);
  font-size: 16;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.sidebar__lang-btn--active {
  border-bottom: 1px solid #333333;
  color: #333333;
}
.sidebar__lang-btn--active:hover {
  opacity: 0.5;
}
.sidebar__lang-btn:not(:last-child) {
  margin-right: 11px;
}
.sidebar__lang-btn:hover {
  color: #333333;
}
.sidebar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}
.sidebar__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar__tel {
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  color: #333333;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidebar__tel:first-child {
  padding-bottom: 10px;
}
.sidebar__tel:last-child {
  padding-bottom: 15px;
}
.sidebar__tel:hover {
  opacity: 70%;
}
.sidebar__call {
  padding: 12.5px 20px 12.5px 60px;
  width: 220px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.sidebar__call::before {
  position: absolute;
  content: url(/images/icons/phone.svg);
  left: 20px;
}
.sidebar__call:hover::before {
  position: absolute;
  content: url(/images/icons/phone1.svg);
  content: url(/images/icons/phone.svg) none;
  left: 20px;
}

.modal {
  display: none;
}
.modal__overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f1f1f4;
  opacity: 0.4;
  z-index: 13;
}
.modal__form {
  background: #ffffff;
  border-radius: 5px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 40px;
  z-index: 10000;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 416px;
}
.modal__close {
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  padding-bottom: 20px;
  text-align: center;
}
.modal__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 12px;
}
.modal__field-label {
  padding-bottom: 4px;
}
.modal__field-input {
  padding: 10px 10px 10px 15px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 100%;
}
.modal__field-input::-webkit-input-placeholder {
  color: #d8d8d8;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.modal__field-input::-moz-placeholder {
  color: #d8d8d8;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.modal__field-input:-ms-input-placeholder {
  color: #d8d8d8;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.modal__field-input::-ms-input-placeholder {
  color: #d8d8d8;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.modal__field-input::placeholder {
  color: #d8d8d8;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.modal__btn {
  margin-top: 8px;
}

.promo {
  margin-bottom: calc(50px + 80 * ((100vw - 320px) / 1600));
}
.promo img {
  width: 100%;
}

@media (max-width: 800px) {
  .promo .container {
    width: 100%;
  }
}
.services {
  margin-bottom: calc(50px + 80 * ((100vw - 320px) / 1600));
}
.services__title {
  margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1600));
}
.services__grid {
  width: 1020px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services__column {
  width: 48%;
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__item:not(:last-child) {
  margin-bottom: 20px;
}
.services__item-icon {
  margin-right: 20px;
}
.services__item-title {
  font-family: "VerdanaBold";
  margin-bottom: 10px;
  font-size: calc(
    18px + 2 *
      ((100vw - 320px) / 1600)
  );
}
.services__item-text {
  font-size: calc(
    14px + 2 *
      ((100vw - 320px) / 1600)
  );
  line-height: 17px;
  color: rgba(51, 51, 51, 0.7);
}

@media (max-width: 1250px) {
  .services__grid {
    width: 100%;
  }
  .services__column {
    width: 45%;
  }
  .services__item {
    height: 170px;
  }
}
@media (max-width: 850px) {
  .services__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__column {
    width: 100%;
  }
  .services__column:not(:last-child) .services__item {
    margin-bottom: 20px;
  }
  .services__item {
    height: auto;
  }
}
@media (max-width: 500px) {
  .services__item-icon {
    width: 25%;
  }
}
.fleet {
  margin-bottom: calc(50px + 80 * ((100vw - 320px) / 1600));
}
.fleet__title {
  margin-bottom: 10px;
}
.fleet__text {
  width: 631px;
  margin: auto;
  text-align: center;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 22px;
  margin-bottom: calc(57px + 20 * ((100vw - 320px) / 1600));
}
.fleet__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fleet__slide-img {
  margin-bottom: 44px;
}
.fleet__slide-title {
  margin-bottom: 20px;
  font-family: "VerdanaBold";
}

@media (max-width: 800px) {
  .fleet__text {
    width: 100%;
  }
}
.rental {
  margin-bottom: calc(50px + 80 * ((100vw - 320px) / 1600));
}
.rental__title {
  margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1600));
}
.rental__content {
  width: 1020px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rental__content-title {
  font-size: calc(
    18px + 2 *
      ((100vw - 320px) / 1600)
  );
  line-height: 22px;
  font-family: "VerdanaBold";
  margin-bottom: 10px;
}
.rental__content-subtitle {
  font-size: calc(
    15px + 1 *
      ((100vw - 320px) / 1600)
  );
  line-height: 140%;
  font-family: "VerdanaBold";
  margin-bottom: 10px;
}
.rental__content-subtitle--contact {
  margin-bottom: 0;
}
.rental__content-text {
  margin-bottom: 5px;
  font-size: calc(
    15px + 1 *
      ((100vw - 320px) / 1600)
  );
  line-height: 140%;
}
.rental__content-descr {
  font-size: calc(
    15px + 1 *
      ((100vw - 320px) / 1600)
  );
  line-height: 140%;
  color: rgba(51, 51, 51, 0.5);
  margin-bottom: 5px;
}
.rental__content-item {
  padding-left: 30px;
  position: relative;
}
.rental__content-item::before {
  position: absolute;
  left: 10px;
  content: "•";
}
.rental__content-item:not(:last-child) {
  margin-bottom: 5px;
}
.rental__content-link {
  font-family: "VerdanaBold";
  font-size: calc(
    15px + 1 *
      ((100vw - 320px) / 1600)
  );
  color: #333333;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.rental__content-link:hover {
  opacity: 0.5;
}
.rental__column {
  width: 47%;
}

@media (max-width: 1200px) {
  .rental__content {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .rental__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rental__column {
    width: 100%;
  }
  .rental__column:not(:last-child) {
    margin-bottom: 20px;
  }
}
.about {
  margin-bottom: calc(50px + 80 * ((100vw - 320px) / 1600));
  padding-bottom: calc(
    50px + 80 *
      ((100vw - 320px) / 1600)
  );
  position: relative;
}
.about__title {
  margin-bottom: calc(20px + 146 * ((100vw - 320px) / 1600));
}
.about__wrapper {
  width: 1020px;
  margin: auto;
}
.about__content {
  width: 50%;
}
.about__content-title {
  font-size: calc(
    18px + 2 *
      ((100vw - 320px) / 1600)
  );
  font-family: "VerdanaBold";
  margin-bottom: 10px;
}
.about__content-text {
  font-size: calc(
    15px + 1 *
      ((100vw - 320px) / 1600)
  );
  margin-bottom: 15px;
  line-height: 140%;
}
.about__content-subtitle {
  font-family: "VerdanaBold";
  font-size: calc(
    15px + 1 *
      ((100vw - 320px) / 1600)
  );
  margin-bottom: 5px;
}
.about__content-item {
  padding-left: 30px;
  position: relative;
}
.about__content-item::before {
  position: absolute;
  left: 10px;
  content: "•";
}
.about__content-item:not(:last-child) {
  margin-bottom: 5px;
}
.about__img {
  position: absolute;
  top: 85px;
  right: 0;
}

@media (max-width: 1200px) {
  .about__wrapper {
    width: 100%;
  }
}
@media (max-width: 950px) {
  .about {
    padding: 0;
  }
  .about__img {
    width: 100%;
    position: static;
  }
  .about__content {
    width: 100%;
  }
}
.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: calc(60px + 70 * ((100vw - 320px) / 1600));
}
.advantages__title {
  margin-bottom: calc(30px + 20 * ((100vw - 320px) / 1600));
}
.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.advantages__item:not(:last-child) {
  margin-right: calc(15px + 15 * ((100vw - 320px) / 1600));
}
.advantages__img {
  margin-bottom: 15px;
}
.advantages__text {
  max-width: 233px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

@media (max-width: 850px) {
  .advantages__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__item {
    margin-right: 0;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.reviews {
  margin-bottom: calc(50px + 80 * ((100vw - 320px) / 1600));
}
.reviews__title {
  margin-bottom: 20px;
}
.reviews__slider .owl-stage {
  padding: 30px;
}
.reviews__slide {
  position: relative;
  height: 100%;
  padding: 30px 35px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(204, 204, 204, 0.5);
}
.reviews__slide:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 40px rgba(51, 51, 51, 0.1);
          box-shadow: 0px 4px 40px rgba(51, 51, 51, 0.1);
}
.reviews__slide-title {
  font-size: calc(
    18px + 2 *
      ((100vw - 320px) / 1600)
  );
  color: #333333;
  font-family: "VerdanaBold";
  margin-bottom: 20px;
}
.reviews__slide-text {
  font-size: calc(
    15px + 1 *
      ((100vw - 320px) / 1600)
  );
  line-height: 140%;
  color: rgba(51, 51, 51, 0.7);
  margin-bottom: 27px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  line-clamp: 8;
  box-orient: vertical;
}
.reviews__slide-bottom {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__slide-date {
  left: 35px;
  bottom: 30px;
  position: absolute;
  font-size: calc(
    12px + 2 *
      ((100vw - 320px) / 1600)
  );
  color: rgba(51, 51, 51, 0.5);
}
.reviews__slide-more {
  right: 35px;
  bottom: 30px;
  position: absolute;
  font-size: calc(
    15px + 1 *
      ((100vw - 320px) / 1600)
  );
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.reviews__slide-more:hover {
  opacity: 0.5;
}

@media (max-width: 1400px) {
  .reviews__slider .owl-stage {
    padding: 0;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
@media (max-width: 850px) {
  .reviews__title {
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  .reviews .container {
    width: 100%;
  }
}
.partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: calc(100px + 100 * ((100vw - 320px) / 1600));
}
.partner__title {
  margin-bottom: calc(30px + 20 * ((100vw - 320px) / 1600));
}
.partner__slider {
  width: 100%;
  display: block;
  margin: auto;
}
.partner__slider .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partner__slider .owl-stage {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.partner__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partner .slider .owl-nav {
  display: none;
}

@media (max-width: 1640px) {
  .partner__slider {
    margin: 0;
  }
  .partner .slider .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.auto__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.auto__breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1600));
}
.auto__previous {
  font-weight: 400;
  font-size: calc(
    15px + 1 *
      ((100vw - 320px) / 1600)
  );
  line-height: 16px;
  color: #cccccc;
  padding-right: 10px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.auto__previous::after {
  position: absolute;
  content: "|";
}
.auto__previous:hover {
  color: #333333;
}
.auto__page {
  font-weight: 400;
  font-size: calc(
    15px + 1 *
      ((100vw - 320px) / 1600)
  );
  line-height: 16px;
  color: #333333;
  white-space: nowrap;
}
.auto__title {
  font-weight: 700;
  font-size: calc(
    25px + 10 *
      ((100vw - 320px) / 1600)
  );
  line-height: 26px;
  color: #333333;
  margin-bottom: 50px;
}
.auto__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.auto__car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.auto__car--two {
  display: none;
  margin-bottom: 30px;
}
.auto__car--two img {
  width: 100%;
}
.auto__car--two .slider .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.auto__car .slider .owl-stage {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.auto__car .slider .owl-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.auto__car .slider .owl-nav button {
  position: absolute;
}
.auto__car .slider .owl-nav button:first-child {
  left: 0;
}
.auto__car .slider .owl-nav button:last-child {
  right: 0;
}
.auto__car .slider .owl-dots {
  display: none;
}
.auto .owl-nav {
  width: 120%;
  position: absolute;
  margin-top: 0;
}
.auto .owl-stage-outer {
  width: 100%;
}
.auto .owl-stages {
  width: 100%;
}
.auto__slider {
  position: relative;
  width: 85%;
  margin-bottom: calc(32px + 101 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.auto__slide {
  width: 100%;
}
.auto__slide-top {
  width: 100%;
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
}
.auto__slide-top--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.auto__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -130px;
}
.auto__text--title {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: calc(
    18px + 2 *
      ((100vw - 320px) / 1600)
  );
  line-height: 24px;
  color: #333333;
  margin-bottom: calc(10px + 5 * ((100vw - 320px) / 1600));
}
.auto__text--cost {
  font-weight: 400;
  font-size: calc(
    16px + 2 *
      ((100vw - 320px) / 1600)
  );
  line-height: 22px;
  color: #333333;
}
.auto__text--cost:first-child {
  padding-bottom: 6px;
}
.auto__description {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: calc(
    30px + 90 *
      ((100vw - 320px) / 1600)
  );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.auto__description-text {
  max-width: 560px;
  font-weight: 400;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 140%;
  color: #333333;
  margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1600));
}
.auto__description-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}
.auto__overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.auto__overview:not(:last-child) {
  margin-bottom: 15px;
}
.auto__overview-text {
  white-space: nowrap;
  font-weight: 400;
  font-size: calc(
    18px + 2 *
      ((100vw - 320px) / 1600)
  );
  line-height: 24px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.auto__overview-dots {
  border-bottom: 1px dashed #cccccc;
  min-width: 15px;
  width: 100%;
}
.auto__overview-model {
  min-width: 263px;
  white-space: nowrap;
  font-weight: 700;
  font-size: calc(
    18px + 2 *
      ((100vw - 320px) / 1600)
  );
  line-height: 24px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.auto__overview-img {
  padding-left: 5px;
}
.auto__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.auto__cost-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: calc(15px + 5 * ((100vw - 320px) / 1600));
}
.auto__cost-lang--btn {
  font-weight: 400;
  line-height: 140%;
  color: #333333;
  font-size: calc(
    16px + 2 *
      ((100vw - 320px) / 1600)
  );
  padding: 10px;
  border: 1px solid transparent;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}
.auto__cost-lang--btn:first-child {
  border-radius: 5px 0 0 5px;
  border-left: 1px solid #cccccc;
}
.auto__cost-lang--btn:last-child {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid #cccccc;
}
.auto__cost-lang .active {
  color: #ffffff;
  background: #ed5f00;
  border: 1px solid #ed5f00;
}
.auto__cost-title {
  font-weight: 700;
  font-size: calc(
    18px + 2 *
      ((100vw - 320px) / 1600)
  );
  color: #333333;
  padding-bottom: 20px;
}
.auto__cost-time--day {
  font-weight: 400;
  font-size: calc(
    16px + 2 *
      ((100vw - 320px) / 1600)
  );
  line-height: 140%;
  color: #333333;
  margin-bottom: calc(15px + 6 * ((100vw - 320px) / 1600));
}
.auto__cost-order {
  background: #20b842;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 20.5px 83px;
  max-width: 240px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #20b842;
}
.auto__cost-order:hover {
  background: #ffffff;
  color: #20b842;
}
.auto__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: calc(40px + 10 * ((100vw - 320px) / 1600));
}

@media (max-width: 1400px) {
  .auto__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .auto__text {
    margin-top: 30px;
  }
  .auto__text--cost {
    position: relative;
    padding-left: 10px;
  }
  .auto__text--cost::before {
    position: absolute;
    content: "·";
    left: 0;
  }
  .auto__car {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .auto__description {
    padding-left: 0;
  }
}
@media (max-width: 650px) {
  .auto__overview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .auto__overview-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 5px;
  }
  .auto__overview-dots {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .auto__overview-model {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 15px;
  }
  .auto__car {
    display: none;
  }
  .auto__car--two {
    display: block;
  }
}
.carpark_filter {
  background: #f5f5f5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 240px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 20px;
}
.carpark_filter-title {
  font-size: calc(
    16px + 4 *
      ((100vw - 320px) / 1600)
  );
  text-transform: uppercase;
  line-height: 17px;
  color: #333333;
  font-family: "VerdanaBold";
}
.carpark_filter .sect_name {
  font-family: "VerdanaBold";
  font-size: calc(
    14px + 4 *
      ((100vw - 320px) / 1600)
  );
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  padding-top: 20px;
  padding-bottom: 15px;
}
.carpark_filter .checkbox {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.carpark_filter .checkbox:not(:last-child) {
  padding-bottom: 10px;
}
.carpark_filter .checkbox .master {
  display: none;
}
.carpark_filter .checkbox .fake {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  top: 2px;
}
.carpark_filter .checkbox .fake::before {
  position: absolute;
  display: block;
  content: url("/images/icons/checkbox.svg");
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: -1px;
  left: -1px;
}
.carpark_filter .checkbox .master:checked + .fake::before {
  opacity: 1;
}
.carpark_filter .checkbox .master:checked + .fake::before .fake {
  display: none;
}
.carpark_filter .range {
  padding-bottom: 30px;
  max-width: 188px;
}
.carpark_filter .range-circle {
  position: relative;
  z-index: 7;
  width: 188px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 5px;
}
.carpark_filter .range-circle::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #ed5f00;
  -webkit-appearance: none;
          appearance: none;
}
.carpark_filter .range-line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 4px;
  margin-left: 9px;
  margin-top: -4px;
  margin-bottom: 5px;
  z-index: 0;
}
.carpark_filter .range-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 2px;
  margin-left: 6px;
}
.carpark_filter .range-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #666666;
}
.carpark_filter-button {
  border: 1px solid #20b842;
  background: #20b842;
  border-radius: 5px;
  padding: 20px 55px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.carpark_filter-button:hover {
  background: transparent;
  color: #20b842;
}

.autopark__breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1600));
}
.autopark__breadcrumbs-main {
  font-weight: 400;
  font-size: calc(
    15px + 1 *
      ((100vw - 320px) / 1600)
  );
  line-height: 16px;
  color: #cccccc;
  padding-right: 10px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.autopark__breadcrumbs-main::after {
  position: absolute;
  content: "|";
}
.autopark__breadcrumbs-main:hover {
  color: #333333;
}
.autopark__breadcrumbs-now {
  font-weight: 400;
  font-size: calc(
    15px + 1 *
      ((100vw - 320px) / 1600)
  );
  line-height: 16px;
  color: #333333;
}
.autopark__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.autopark__title-name {
  font-weight: 700;
  line-height: 26px;
  font-size: calc(
    25px + 10 *
      ((100vw - 320px) / 1600)
  );
  color: #333333;
  margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1600));
}
.autopark__title-filter {
  display: none;
  position: relative;
}
.autopark__title-filter--img {
  cursor: pointer;
}
.autopark__title-filter .active {
  content: url(/images/icons/filter-active.svg);
}
.autopark__title-filter--down {
  display: none;
  position: absolute;
  top: 27px;
  right: 0;
}
.autopark__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.autopark__filter {
  margin-right: 40px;
}
.autopark__cars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
}
.autopark__cars-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 20px;
}
.autopark__cars-item:not(:first-child) {
  padding-top: 20px;
}
.autopark__cars__img {
  margin-right: 30px;
}
.autopark__cars-text {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: calc(
    10px + 9 *
      ((100vw - 320px) / 1600)
  );
}
.autopark__cars-text--name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  padding-bottom: 5px;
  max-width: 245px;
}
.autopark__cars-text--description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  padding-bottom: 2px;
}
.autopark__cars-text--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
}
.autopark__cars-text--content {
  margin-right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.autopark__cars-text--number {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}
.autopark__cars-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: calc(
    10px + 9 *
      ((100vw - 320px) / 1600)
  );
}
.autopark__cars-cost--day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 5px;
}
.autopark__cars-cost--digit {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  padding-right: 7px;
}
.autopark__cars-cost--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}
.autopark__cars-cost--allday {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  margin-bottom: 20px;
}
.autopark__cars-cost--btn {
  width: 100%;
}
.autopark__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 29px;
}

@media (max-width: 1500px) {
  .autopark__cars {
    width: 100%;
  }
}
@media (max-width: 1270px) {
  .autopark__filter {
    display: none;
  }
  .autopark__title-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 970px) {
  .autopark__cars {
    margin-bottom: 100px;
  }
  .autopark__cars-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .autopark__logo {
    display: none;
  }
}