.services{
    @include adaptiv-marginBottom(134,50);
    &__title{
        @include adaptiv-marginBottom(50,20);
    }
    &__grid{
        width: 1020px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    &__column{
        width: 48%;
    }
    &__item{
        display: flex;
        align-items: center;
        &:not(:last-child){
            margin-bottom: 20px;
        }
        &-icon{
            margin-right: 20px;
        }
        &-title{
            font-family: 'VerdanaBold';
            margin-bottom: 10px;
            @include adaptiv-font(20,18);
        }
        &-text{
            @include adaptiv-font(16,14);
            line-height: 17px;
            color: rgba(51, 51, 51, 0.7);
        }
    }
}


@media (max-width: 1250px) {
    .services{
        &__grid{
            width: 100%;
        }
        &__column{
            width: 45%;
        }
        &__item{
            height: 170px;
        }
    }
}

@media (max-width: 850px) {
    .services{
        &__grid{
            flex-direction: column;
        }
        &__column{
            width: 100%;
            &:not(:last-child){
                .services{
                    &__item{
                        margin-bottom: 20px;
                    }
                }
            }
        }
        &__item{
            height: auto;
        }
    }
}

@media (max-width: 500px) {
    .services{
        &__item{
            &-icon{
                width: 25%;
            }
        }
    }
}