.carpark_filter {
  background: #f5f5f5;
  box-sizing: border-box;
  max-width: 240px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #333333;
  }
  .sect_name {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .checkbox {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #666666;

    &:not(:last-child) {
      padding-bottom: 10px;
    }
    .master {
      display: none;
    }
    .fake {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      border: 1px solid #cccccc;
      border-radius: 2px;
      top: 2px;
      &::before {
        position: absolute;
        display: block;
        content: url("/images/icons/checkbox.svg");
        opacity: 0;
        transition: 0.3s;
        top: -1px;
        left: -1px;
      }
    }
    .master:checked + .fake::before {
      opacity: 1;
      .fake {
        display: none;
      }
    }
  }

  .range {
    padding-bottom: 30px;
    max-width: 188px;
    &-circle {
      position: relative;
      z-index: 7;
      width: 188px;
      background: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 5px;
      appearance: none;
      height: 5px;

      &::-webkit-slider-thumb {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background: #ed5f00;
        appearance: none;
      }
    }

    &-line {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-right: 4px;
      margin-left: 9px;
      margin-top: -4px;
      margin-bottom: 5px;
      z-index: 0;
    }
    &-num {
      display: flex;
      justify-content: space-between;
      margin-right: 2px;
      margin-left: 6px;
    }
    &-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #666666;
    }
  }

  &-button {
    border: 1px solid #20b842;
    background: #20b842;
    border-radius: 5px;
    padding: 20px 55px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    transition: 0.3s;
    &:hover {
      background: #ffffff;
      color: #20b842;
    }
  }
}
