.reviews {
  @include adaptiv-marginBottom(130, 50);

  &__title {
    margin-bottom: 20px;
  }

  &__slider {
    .owl-stage {
      padding: 30px;
    }
  }

  &__slide {
    position: relative;
    height: 100%;
    padding: 30px 35px;
    background-color: #ffffff;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(204, 204, 204, 0.5);

    &:hover {
      cursor: pointer;
      box-shadow: 0px 4px 40px rgba(51, 51, 51, 0.1);
    }

    &-title {
      @include adaptiv-font(20, 18);
      color: #333333;
      font-family: "VerdanaBold";
      margin-bottom: 20px;
    }

    &-text {
      @include adaptiv-font(16, 15);
      line-height: 140%;
      color: rgba(51, 51, 51, 0.7);
      margin-bottom: 27px;

      //   overflow: hidden;
      //   text-overflow: ellipsis;
      //   display: -moz-box;
      //   -moz-box-orient: vertical;
      //   display: -webkit-box;
      //   -webkit-line-clamp: 8;
      //   -webkit-box-orient: vertical;
      //   line-clamp: 8;
      //   box-orient: vertical;

      &--more {
        display: none;
      }
    }

    &-bottom {
      height: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-date {
      left: 35px;
      bottom: 30px;
      position: absolute;
      @include adaptiv-font(14, 12);
      color: rgba(51, 51, 51, 0.5);
    }

    &-more {
      right: 35px;
      bottom: 30px;
      position: absolute;
      @include adaptiv-font(16, 15);
      transition: all 0.3s;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 1400px) {
  .reviews {
    &__slider {
      .owl-stage {
        padding: 0;
        padding-bottom: 30px;
        padding-top: 30px;
      }
    }
  }
}

@media (max-width: 500px) {
  .reviews {
    .container {
      width: 100%;
    }
  }
}
