.footer {
  background: #000000;
  display: flex;
  flex-direction: column;
  @include adaptiv-paddingTop(40, 24);
  &__info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    @include adaptiv-paddingBottom(45, 35);
  }
  &__logo {
    width: 196px;
    height: 85px;
    background: #ed5f00;
    @include adaptiv-marginRight(100, 3);
  }
  &__rent {
    display: flex;
    justify-content: space-between;
    &--column {
      display: flex;
      justify-content: space-between;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    &--type {
      display: flex;
      flex-direction: column;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    &--item {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
      &:not(:last-child) {
        padding-bottom: 10px;
      }
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
    text-align: right;
    @include adaptiv-marginLeft(100, 3);
  }
  &__adress {
    width: 210px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    padding-bottom: 20px;
  }
  &__number {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
  }
  &__tel {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  &__call {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    width: 211px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 54px;
    background: #20b842;
    border-radius: 5px;
    position: relative;
    &::before {
      position: absolute;
      content: url(/images/icons/phone.svg);
      left: 23px;
      top: 12px;
    }
  }

  &__card {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    flex-direction: column;
    @include adaptiv-paddingTop(27, 20);
    @include adaptiv-paddingBottom(30, 25);
    &--item {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #cccccc;
    }
  }
  &__icons {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 1300px) {
  .footer {
    &__icons {
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 1160px) {
  .footer {
    &__rent {
      flex-direction: column;
      &--column {
        &:not(:last-child) {
          padding-bottom: 20px;
        }
      }
      &--type {
        flex-basis: 50%;
      }
    }
  }
}

@media (max-width: 965px) {
  .footer {
    &__info {
      justify-content: start;
      flex-direction: column;
    }
    &__logo {
      margin-bottom: 30px;
      margin-right: 0;
    }
    &__rent {
      &--column {
        flex-direction: column;
        padding-bottom: 0px;
      }
      &--item {
        &:not(:last-child) {
          padding-bottom: 15px;
        }
        &:last-child {
          padding-bottom: 30px;
        }
      }
    }
    &__contact {
      text-align: start;
      margin-left: 0;
    }

    &__card {
      flex-direction: column;
      position: static;
    }
    &__icons {
      position: static;
      left: 0;
      top: 0;
      transform: translate(0, 0);
      margin-top: 20px;
    }
  }
}
