.partner {
  display: flex;
  flex-direction: column;
  @include adaptiv-marginBottom(200, 100);

  &__title {
    @include adaptiv-marginBottom(50, 30);
  }

  &__slider {
    width: 100%;
    display: block;
    margin: auto;
    .owl-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .owl-stage {
        justify-content: space-between;
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider {
    .owl-nav {
      display: none;
    }
  }
}

@media (max-width: 1640px) {
  .partner {
    &__slider {
      margin: 0;
    }

    .slider {
      .owl-dots {
        display: flex;
      }
    }
  }
}
