.partner {
  display: flex;
  flex-direction: column;
  @include adaptiv-marginBottom(200, 100);

  &__title {
    @include adaptiv-marginBottom(50, 30);
  }

  &__slider {
    max-width: 1380px;
    display: block;
    margin: auto;
    .owl-item{
        display: flex;
    align-items: center;
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider {
    .owl-nav {
      display: none;
    }
  }
}

@media (max-width: 1640px) {
  .partner {
    &__slider {
      margin: 0;
    }

    .slider {
      .owl-nav {
        display: flex;
      }
    }
  }
}

@media (max-width: 750px) {
  .partner {
    .slider {
      .owl-nav {
        display: none;
      }
    }
  }
}
