.partner {
  display: flex;
  flex-direction: column;
  @include adaptiv-marginBottom(200, 100);

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #ed5f00;
    @include adaptiv-marginBottom(50, 30);
  }

  .slider {
    .owl-nav {
      display: none;
    }
  }
}

@media (max-width: 1640px) {
  .partner {
    .slider {
      .owl-nav {
        display: flex;
      }
    }
  }
}
